<title>Interesting Facts About Lithuania - Vilnius Guide by a Local</title>
<meta content="Fun facts about Lithuania with useful tips and tricks from a locals for your exciting stay in Vilnius. Click here to read it" name="description">

<meta property="og:title" content="Interesting Facts About Lithuania"/>
<meta property="og:url" content="http://localvilnius.guide/fun-facts-about-Lithuania"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Fun facts about Lithuania with useful tips and tricks from a locals for your exciting stay in Vilnius. Click here to read more"/>
<meta property="og:image" content="http://localvilnius.guide/assets/lt-girl-0f9c84af6c9c16e19c561539056bc7c9bbaf11dac6c6896aa06689514c3b1ee2.jpg"/>



     <div class="banner" style="background:url(<%= image_path 'lt-girl' %>);">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br>
            <h1 class="text-center padding-top-18">Fun Facts</h1>
          <br><br>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
            <br>
              <img src="<%= image_path 'baltijos-kelias' %>" alt="" class="image-card">
                <!-- <div class="layer"></div> -->
            </div>
            <div class="col-md-5">
              <h2>Baltijos Kelias (eng. Baltic way)</h2>
              <p>It was a peaceful political demonstration that occurred on 23 August 1989. Approximately two million people joined their hands to form a human chain spanning 675.5 kilometers (419.7 mi) across the three Baltic States – Estonia, Latvia, and Lithuania. The protest was designed to draw global attention by demonstrating a desire for independence from Soviet Union and illustrated solidarity among the three nations.</p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <h2>Second religion</h2>
              <p>Basketball is usually called in Lithuania a second religion and it is by far the most popular sport in the country. Popularity of sport grew during Soviet Union oppression as it was seen as a mean to fight for independence. Since then Lithuania became basketball powerhouse in the world with legendary NBA players like Arvydas Sabonis, Šarūnas Marčiulionis and current NBA superstars like Jonas Valančiūnas, Donatas Motiejūnas, Domantas Sabonis among many others.</p>
            </div>
            <div class="col-md-5">
            <br><br>
              <img src="<%= image_path 'basketball' %>" alt="" class="image-card">
                    <!-- <div class="layer"></div> -->
            </div>
          </div>
        <br>

        <div class="row">
          <div class="col-md-offset-1 col-md-5">
          <br><br>
            <img src="<%= image_path 'stork' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Gandras (eng. White Stork)</h2>
            <p>Kept as a national bird and as a symbol. Whooping 8% of all white storks in the world breed in Lithuania making it the densest country for this species. This giant bird has somewhat warm and pleasant association to any Lithuanian. You can often see white storks in the countryside walking in the fields or on the rooftops of old houses. And of course, storks bring babies - that's a common knowledge, we all grow up knowing that, so watch out or a baby might fall into your lap.</p>
          </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <h2>Folk Dance Festival</h2>
              <p>It does sound a bit lame at first, but actually it is one of the coolest and most unique thing you can see in Lithuania. Every 4 years almost 2000 folk dancers from across Lithuania and abroad gather together to perform traditional folk dances. Every dancer receive special choreography instructions to form well coordinated massive human chains and ever changing shapes while dancing making it one of the kind event in the world. It is a part of UNESCO Intangible Cultural Heritage for a reason... It's just amazing. Upcoming Folk Dance Festival will be in 2020.</p>
            </div>
            <div class="col-md-5">
            <br><br>
              <img src="<%= image_path 'dainu-svente' %>" alt="" class="image-card">
                    <!-- <div class="layer"></div> -->
            </div>
          </div>
        <br>



        <br><br><br><br><br>
        <div class="text-center">
          <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>

          <h1 class="text-center padding-top-18">Tips & Tricks</h1>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <!-- <ul> -->
              <h2>Transportation in Vilnius </h2>
              <p>Most of the places suggested in this guide is within walking distance. However, in case you want to go further away from the city center I would strongly advice to use Uber app. Uber drivers are more likely to speak well in English and you can be worry-free about the rates that you are being charged. Travelers hygiene rule number 1 - if you travel with a taxi, always ask before hand for the price estimation. 1km usually cost around 1-2 eur. Keep 10 - 15 Eur benchmark in mind, as you should be able to reach even the furthest places on this list for the amount. Worth noting that night rates are usually much higher so don't be surprised if you pay more coming out of the bar. Travelers hygiene rule number 2 - never take taxi straight from the airport, railway or bus station as you are sure that you will over pay. </p>

              <br>
              <h2>Transportation from Vilnius airport </h2>
              <p>There are three options that you could take - taxi (Uber), bus, train. Bus would be the cheapest option. My recommendation is to take Uber for the most convenience.</p>

              <br>
              <h2>Cheap flight tickets to Lithuania </h2>
              <p>You can get very cheap tickets to Kaunas since Ryanair has a service center there for their planes. It is not uncommon to find a ticket from Copenhagen to Kaunas for 20 Eur. Kaunas is the second largest city in Lithuania and it is 100km away from Vilnius. Once you are in Kaunas airport you can take a taxi (Uber) to train station and get comfy train ride to Vilnius.</p>

              <br>
              <h2>Caution: Lithuanians speak Lithuanian</h2>
              <p>Lithuanians get very offensive if you call them Russians or think that Lithuanians speak Russian as a mother tongue. We tend to label that person in our minds as a blithering idiot and end conversation at the earliest convenience.</p>
          </div>
        </div>

        <br><br><br><br><br>
        <div class="text-center">
          <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>

          <h1 class="text-center padding-top-18">Few Lithuanian Words</h1>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <ul>
              <li><p><strong>Ačiū</strong>- Thank you. If you want to make correct pronunciation imagine that you are sneezing with a long aaaciu (nose cleaning is not required afterwards)</p></li>
              <li><p><strong>Į sveikatą </strong>- Cheers</p></li>
              <li><p><strong>Labas </strong>- Hey</p></li>
              <li><p><strong>Mano vardas (Your name here)</strong>- My name is (Your name here)</p></li>
              <li><p><strong>Kiek kainuoja? </strong>- How much?</p></li>
              <li><p><strong>Taip </strong>- Yes</p></li>
              <li><p><strong>Ne </strong>- No</p></li>
              <li><p><strong>Man Patinka Lietuva </strong>- I like Lithuania</p></li>
              <li><p><strong>Tu man patinki </strong>- I like you</p></li>
            </ul>
          </div>
        </div>


<!-- <br><br><br><br><br>
            <div class="text-center">
            <img src="<%#= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>
                <h1 class="text-center padding-top-18">Brief Lithuanian History</h1>
            </div>

          <br><br><br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
      <p>To be written...</p>

          </div>
        </div> -->

        <br><br><br><br>
<div class="text-center">
        <%= link_to "What to see in Vilnius >>", what_to_see_in_vilnius_path , class:"btn btn-default bottom-button", style: ""%>
        <br><br><br><br>
</div>
  </div>
</div>


