<title>What to see in Vilnius - Vilnius Guide by a Local</title>
<meta content="Famous Vilnius places to see and local things to do while you are on your holiday trip in Vilnius. Click to get Vilnius city guide" name="description">

<meta property="og:title" content="What to see in Vilnius - Vilnius Guide by a Local"/>
<meta property="og:url" content="http://localvilnius.guide/what-to-see-in-vilnius"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Famous Vilnius places to see and local things to do while you are on your holidays in Vilnius. Click to get Vilnius city guide"/>
<meta property="og:image" content="http://localvilnius.guide/assets/Lietuva4-f4b8b7465d0fb028a3988d686a89fed9548f3daa7b010bc9b976b3866eecbb49.jpg"/>

     <div class="banner" style="background:url(<%= image_path 'Lietuva4.jpg' %>);">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br>
            <h1 class="text-center padding-top-18">What to see in Vilnius</h1>
          <br><br>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <img src="<%= image_path 'gedimino-pilis' %>" alt="" class="image-card">
                <!-- <div class="layer"></div> -->
            </div>
            <div class="col-md-5">
                            <h2>Gedimino Castle</h2>
              <p>It's a Castle, really... it might look like the only defense tower that's left after destruction, but it's actually a Castle. Ask any local person... Go on top of the mountain and from there you can see some amazing views. By the side of the castle you will find the hill of three crosses. I wouldn't advise going there - seeing from a distance should be enough.</p>
              <h5>Address: Gedimino Castle</h5>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <h2>Vilnius old town</h2>
              <p>Hit Pilies street which is one of the oldest streets in the city. Put your adventurous explorers goggles on and get lost in narrow side streets, green inner house gardens to discover cozy Vilnius old town on your own terms.</p>
              <h5>Address: Pilies street</h5>
            </div>
            <div class="col-md-5">
              <img src="<%= image_path 'senamiestis' %>" alt="" class="image-card">
                    <!-- <div class="layer"></div> -->
            </div>
          </div>
        <br>

        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'uzupis' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Republic of Užupis</h2>
            <p>Area of Vilnius for arty bohemian people. Stop by the main sculpture on the main square to read Constitution of Uzupis which is a funny read in itself - rule #1 - "People have the right to live by the River Vilnelė, while the River Vilnelė has the right to flow past people.", #12  "A dog has the right to be a dog." and #37 "People have the right to have no rights.". Explore the area and stop by local artist galleries and small boutiques.</p>
            <h5>Address place: Užupio street </h5>
          </div>
        </div>
        <br>

      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Cathedral</h2>
          <p>The biggest, baddest and the meanest church in Lithuania - the cathedral. It's worth swinging by as it is conveniently situated between all the sightseeing places. You can also get a ticket to the underground tombs if you into Lara Croft type of explorations.
</p>
          <h5>Address: Šventaragio street </h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'katedra' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'ausros-vartai' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Gates of Dawn</h2>
            <p>As it was quite trendy to build walls back in 15 centaury we build one too to protect Vilnius citizens from Tatars. Gates of Dawn was the main entry point and now it is the biggest tourist attraction with historical and religious significance. Above the gates you can see sacred and very rare version of Madona painting without a baby. It is not known who is the author of the painting but it is believed that it has magical powers.
 </p>
            <h5>Address: Aušros Vartų street 14</h5>
          </div>
        </div>
        <br>
              <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>TV Tower</h2>
          <p>Highly recommendable when you have more than just a few days, as it will also get you to a district outside of the city center. Real gem for those who want to see communistic block houses and all the other ‘beauty’ that Soviet Union has left behind.</p>
          <h5>Address: Sausio 13-osios street 10 </h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'televizijos-bokstas' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>
      <br>


        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'Vilnius-Panorama' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Gedimino Avenue & Konstitucijos street</h2>
            <p>Gedimino prospektas - the main street of the city and it represents modern Vilnius. If you go down Gedimino Avenue and then turn towards Baltasis Tiltas, you will reach commercial district in Konstitucijos Street with its highrises at the other side of the river. With numerous foreign companies outsourcing their IT departments to Lithuania, this area became vibrant economic center of a capital city.</p>
            <h5>Address: Gedimino Avenue & Konstitucijos street </h5>
          </div>
        </div>
        <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Barbakanas</h2>
          <p>Beautiful and quite secret place (non touristic) to see night panorama of Vilnius. You would need to go the bastion of Vilnius city wall down the Subacius street and then follow the path over the park down to Maironio street. Don’t get surprised to see local lovers on the way enjoying their time as well.
          <h5>Address: Konstitucijos Avenue 20</h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'barbakanas' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'onos-baznycia' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>St. Annes church</h2>
          <p>Said to be one of the nicest in Lithuania. Rumor has it that Napoleon wanted to take it back home on the palm of his hand. It's also pretty small, so makes sense.
</p>
          <h5>Address: Maironio street 8 </h5>

          </div>
        </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
          <h2>Belmontas</h2>
          <p>Beautiful Lithuanian vintage style restaurant complex located in a regional park. Among meticulously maintained gardens you can also find a waterfall so bring your swim gear if you want to dip in and cool down jumping from a cliff. Definitely one of the must go places if you have a bit more time in Vilnius as it is slightly further from the city center.
</p>
          <h5>Address: Belmonto street 17 </h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'Belmontas' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>

<br><br><br><br><br>
            <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>
<!--                 <h1 class="text-center padding-top-18">Good restaurants in Vilnius</h1> -->
            </div>

          <br><br><br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <img src="<%= image_path 'vamzdis' %>" alt="" class="img-radius" style="width: 100%;">
            <!-- <div class="layer"></div> -->
<!--           </div>
          <div class="col-md-5"> -->
            <h2>The Pipe</h2>
            <p>I don't even know where to start with this one... Let's first address all the elephants in the room - yes, it's an art peace that Vilius bought for a hefty sum of money. No, it's not an actual pipe. Yes, it has been standing there for quite a while now and it seems it will stay for a bit longer. It's one of the most controversial objects in Vilnius city center and brings a lot of negative reflections from locals. If you like to learn some new Lithuanian words just ask any passer by what do they think about the Pipe?</p>
            <h5>Address: Žvejų street 14 </h5>
          </div>
        </div>



        <br><br><br><br>
<div class="text-center">
        <%= link_to "Where to night out in Vilnius >>", where_to_party_in_vilnius_path , class:"btn btn-default bottom-button", style: ""%>
        <br><br><br><br>
</div>
  </div>
</div>


