<% content_for :head do %>

<title>What Lithuanians listen - Vilnius Guide by a Local</title>
<meta content="Explore Lithuanian music culture and discover new vibes and new artists. Click here to see Lithuanian timeless songs list" name="description">

<meta property="og:title" content="What Lithuanians listen - Vilnius Guide"/>
<meta property="og:url" content="http://localvilnius.guide/what-to-listen-in-vilnius"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Explore Lithuanian music culture and discover new vibes and new artists. Click here to see Lithuanian timeless songs list"/>
<meta property="og:image" content="http://localvilnius.guide/assets/fb-sel-06b2c4108ef37f9a363f0fb2cb9b329ba2209e1201e09ae68ac437085b3ebab6.png"/>
<% end %>

     <div class="banner" style="background:url(<%= image_path 'sel' %>);">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br><br><br>
            <h1 class="text-center padding-top-18">What Lithuanians are listening</h1>
          <br><br>


          <br><br><br>
            <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb">
            <br>
                <h1 class="text-center padding-top-18">Second anthem</h1>
            </div>

          <br>

          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Marijonas Mijutavicius - Trys milijonai</h2>
              <p>Every Lithuanian will tell you that this is the second anthem. It was made initially as a song for an Olympic games but soon become much more than that. It's somehow sentimental and blood boilingly powerful. I bet people knows better the lyrics of this song than official Lithuanians anthem.</p>

            <br>
            </div>
            <div class="col-md-offset-3 col-md-6">

              <div class="col-md-offset-1 col-md-10">
                <div class="video-youtube"><iframe src="https://www.youtube.com/embed/WwUXFj-ngTw?list=PLnjW9bw5e62uIkn9LVil7RrsGDF93J1Q9?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
                      <!-- <div class="layer"></div> -->

              </div>
            </div>
          </div>


          <br><br><br><br><br>
          <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb">
            <br><br>
              <h1 class="text-center padding-top-18">Hip-Hop</h1>
          </div>
          <!-- <br> -->
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>G&G sindikatas</h2>
                <p>Oldest and still the top hip hop band in Lithuania. During their concerts crowd goes mental taking t-shirts and swinging, throwing as if there is no tomorrow. If you have a chance go to their concert and experience for yourself I would highly recommend doing so.</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/SU8OoiiP_kg?ecver=2" width="480" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/SY3MTZYPaDQ?ecver=2" width="480" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-offset-3 col-md-6">
              <div class="col-md-offset-1 col-md-10">
                <br>
                <div class="video-youtube"><iframe src="https://www.youtube.com/embed/om0Qi9J7-Ls?list=PLIb7FMw_cKo1jh6SUgerD0B4yF7YOLd28?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
              </div>
            </div>
          </div>


          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Skamp</h2>
                <p>Band with iconic album from the day it was released more than 20 years ago. Every millennial grew up with their songs and knows lyrics by heart. If you strike a conversation with a local ask to bust some rhymes from Skamp discography.</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/FfN9hly-RHU?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/5oBWeQaHIM8?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Lilas ir Innomine</h2>
                <p>Fresh out of oven artist bringing new winds to a rather stable hip hop scene.</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/-RB79EFKXro?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/Ma3lC6aVk90?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Despotin Fam</h2>
                <p>It might not be traditional Hip Hop as you know it but let's face it, that's straight up funky!</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/RNhA2cHBsug?list=PLbFZqSUQZ-t6ki0JDXVp3ycHCY1fpdwr4?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/Hsajm-0jm5A?list=PLbFZqSUQZ-t6ki0JDXVp3ycHCY1fpdwr4?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>


          <br><br><br><br><br>
          <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb">
            <br><br>
              <h1 class="text-center padding-top-18">Electronic / EDM</h1>
          </div>
          <!-- <br> -->
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>SEL</h2>
                <p>Kanye West attitude like top solo singer in Lithuania. Started 16 with old-school hip hop style and grew into smooth EDM during his more than 30 years top charts presence</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/DAPHAwJ8NnI?ecver=2" width="480" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/2HOYq1NDcWo?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-offset-3 col-md-6">
              <div class="col-md-offset-1 col-md-10">
                <br>
                <div class="video-youtube"><iframe src="https://www.youtube.com/embed/8kavbN4inLU?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
              </div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Ten Walls</h2>
                <p>Most popular international song with 31Mil youtube views by Lithuanian electro house dj</p>
              <br>
            </div>
            <div class="col-md-offset-3 col-md-6">
              <div class="col-md-offset-1 col-md-10">
                <br>
                <div class="video-youtube"><iframe src="https://www.youtube.com/embed/rymUSbYQjw8?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
              </div>
            </div>
          </div>

          <br><br><br><br><br>
          <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb">
            <br><br>
              <h1 class="text-center padding-top-18">POP</h1>
          </div>
          <!-- <br> -->
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Jazzu</h2>
                <p>You don't need a party or anything next to this. Simply beautiful music and great artist. Put your headphones and groove along.
                </p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/NdJtJSx5QTA?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:75%;left:0" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/eiQr0B7JV2c?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Vaidas Baumila</h2>
                <p>R&B superstar with authentically romantic vibes. "Myliu" is also one of the iconic songs most of millennials knows by heart. If asking to sing some of  Skamp songs didn't cut it, come back with a request for a "myliu"</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/nI6h7wbyhWI?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/lcDvOh1j37I?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:75%;left:0" allowfullscreen></iframe></div>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Monika Linkyte</h2>
                <p>Upcoming star in Lithuanian pop scene</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/N2KGQv0hX7o?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/hez9FgSr2Iw?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>


          <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Gjan</h2>
                <p>The only Lithuanian that was initially discovered by youtubers and only then by locals. Quality music.</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/caTdakzsp2M?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/HVmCXTaEdy0?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>

                    <br>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <h2>Gabrielius Vagelis</h2>
                <p>On a slightly more personal note.... Here is my cousin...</p>
              <br>
            </div>
            <div class="col-md-offset-1 col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/o32hI8YY2cs?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>

            <div class="col-md-5">
              <div class="video-youtube"><iframe src="https://www.youtube.com/embed/IoYbpq143-Q?ecver=2" width="640" height="360" frameborder="0" class="inner-video-youtube" allowfullscreen></iframe></div>
            </div>
          </div>






        <br><br><br><br>
<div class="text-center">
         <%= link_to "Locals tips, tricks and fun facts >>", fun_facts_about_Lithuania_path , class:"btn btn-default bottom-button", style: ""%>
        <br><br><br><br>
</div>
  </div>
</div>


