<title>Where and what to eat in Vilnius - Vilnius Guide by a Local</title>
<meta content="Lithuanian food and restautant recommendations in Vilnius from a local. Click here to find what and where to eat in Vilnius" name="description">

<meta property="og:title" content="Where and what to eat in Vilnius"/>
<meta property="og:url" content="http://localvilnius.guide/where-to-eat-in-vilnius"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Lithuanian food and restautant recommendations in Vilnius from a local. Click here to find what and where to eat in Vilnius"/>
<meta property="og:image" content="http://localvilnius.guide/assets/eat-37089977f200f714a7f5810c802e45ee21a81cbdfe877fd4f64ba7429946ec3a.jpg"/>

     <div class="banner" style="background:url(<%= image_path 'eat' %>);">
     <div class="layer"></div>
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br>
            <h1 class="text-center padding-top-18">What and where to eat in Vilnius</h1>
          <br><br>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <img src="<%= image_path 'cepelinai.jpg' %>" alt="" class="image-card">
                <!-- <div class="layer"></div> -->
            </div>
            <div class="col-md-5">
              <h2>Cepelinai</h2>
              <p>Take a plate of Cepelinai, national Lithuanian dish. Be cautious, it is a very filling and fatty meal so order when you are properly starving and prepare for some stomach rape action. It’s sort of a thing that if you have been in Lithuania and haven't tried cepelinai, you might as well say I haven't been in Lithuania since every Lithuanian you meet will gaze at you with admirable disappointment…</p>
              <h5>Recommended place: Stikliai Alude (Gaono street 7)</h5>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <h2>Šaltibarščiai</h2>
              <p>Famous Lithuanian pink soup. Should be able to buy it in most of the places. Usually consumed during hot summer time. Some people like it and some… too afraid to try. Give it a shot.</p>
              <h5>Recommended place: Alinė "Leičiai", (Stiklių street 4) </h5>
            </div>
            <div class="col-md-5">
              <img src="<%= image_path 'saltibarsciai.jpg' %>" alt="" class="image-card">
                    <!-- <div class="layer"></div> -->
            </div>
          </div>
        <br>

        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'kepta-duona.jpg' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Švyturio Baltas su Kepta Duona ir Sūriu</h2>
            <p>Enjoy some guilty pleasure with Švyturio Baltas beer and Kepta Duona Su Sūriu. It's salted and deep-fried garlic dark bread covered in hot cheese and mayonnaise sauce. Super unhealthy but trust me it’s mouth watering as I am writing this article - simply brilliant combo.</p>
            <h5>Recommended place: Čili Pica or Čili Kaimas </h5>
          </div>
        </div>
        <br>

      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Kebabas</h2>
          <p>Grab a Kebab and ask for a mix sauce( lt. Miksas). It is a rather dodgy place so I would advise to go 350 meters down the road towards V. Mykolaičio-Putino g. 5 where you will see beautiful scenery of Vilnius from the top of the hill and there will be a perfect spot to eat your kebab. Yes, I know… Lithuania and Kebabs? What’s up with that? Can’t answer. I can bet though that it’s going to be the best kebab you ever had. Just try and be mesmerized. </p>
          <h5>Recommended place: Tauro g. 5 </h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'kebabas.jpg' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'tinginys.jpg' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Tinginys</h2>
            <p>If translated to English it would go something like “lazy person”. That’s because it is one of the simplest and cheapest yet incredibly delicious desserts. The modesty of ingredients can rarely astound you but that's the case in here.</p>
            <h5>Recommended place: Sugamour - Vokiečių g. 11. </h5>
          </div>
        </div>
        <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Hematogenas</h2>
          <p>All Lithuanian kids grow up getting hematogenas as a treat next to ugly medicine when sick. What we knew as kids is that you should only eat one piece a day and never all at once. It has for a long time been and still is a riddle for me as to why. You can get a hint from an English name in the picture what it is made of </p>
          <h5>Recommended place: Buy at any pharmacy </h5>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'blood-chocolate.jpg' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'surelis.jpg' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Sūrelis (eng. Curd snack)</h2>
            <p>A healthy snack made out of curd and garnished with chocolate. Although they need to be refrigerated, they usually are packaged well so a you can take a few into your backpack to kill the hangryness while on the go.</p>
            <h5>Recommended place: Buy at any supermarket </h5>
          </div>
        </div>

        <br><br><br><br><br>
        <div class="text-center">
        <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>
            <h1 class="text-center padding-top-18" id="drink">What to drink in Vilnius</h1>
        </div>

        <br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'svyturio-baltas' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Švyturio Baltas beer</h2>
            <p>It's the beer you always remember and reminiscence when you are abroad. Ice cold with a slice of lemon on top will simply rock your world</h5>
          </div>
        </div>

        <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Local Microbreweries</h2>
          <p>Try some beers from a local micro breweries - my pick would be Varniukai or Beganti kopa in bottled form or swing by specialised beer shops for fresh out of tap 1 liter bottle, called “Bambalis” in Lithuania.</p>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'raudonos-plytos' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'zalios-devynerios' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Zalios devynerios (3 nines)</h2>
            <p>Something like Jägermeister but better. Made out of 27 different herbs, thus the name 3 * nines. Can get in almost any bar, restaurant or shop</h5>
          </div>
        </div>

      <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h2>Midus (Honey drink)</h2>
          <p>Ancient Lithuanian sweet spirit that is made out of honey. Nobody actually drinks it on a regular but it is a great souvenir as they usually come beautifully packaged. You can find it in big supermarkets</p>
        </div>
        <div class="col-md-5">
          <img src="<%= image_path 'midus' %>" alt="" class="image-card">
          <!-- <div class="layer"></div> -->
        </div>
      </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <img src="<%= image_path 'gira' %>" alt="" class="image-card">
            <!-- <div class="layer"></div> -->
          </div>
          <div class="col-md-5">
            <h2>Gira (Sweet non-alk beer)</h2>
            <p>Internationally known as Kvass. This traditional Slavik and Baltic fermented beverage is made in a similar manner as beer. The original ones has <\1% of alcohol and sweet taste.</h5>
          </div>
        </div>

<br><br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="img-radius" style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/nITLob098W8?ecver=2" width="400" height="300" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
            <!-- <div class="layer"></div> -->
<!--           </div>
          <div class="col-md-5"> -->
            <h2>Vytautas or Birute mineral water</h2>
            <p>No one drinks as much mineral sparkling water as Lithuanians. Common logic goes - it is a waste of money to buy regular water since you can get it from the tap, so if you buy water you better buy mineral water. Worth mentioning that  Lithuania is one of the few European countries that uses underground water for water production so water quality is extremely high. For a local mineral water experience try Vytautas or Birute from a supermarket. Some say it also cures hangover… If I wasn't too convincing, check out the video
          </div>
</div>



<br><br><br><br><br>
            <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>
                <h1 class="text-center padding-top-18">Good restaurants in Vilnius</h1>
            </div>

          <br><br><br><br>
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <img src="<%= image_path 'kaule-grafiti.png' %>" alt="" class="img-radius" style="width: 100%;">
            <!-- <div class="layer"></div> -->
<!--           </div>
          <div class="col-md-5"> -->
            <h2>Keulė Rūkė</h2>
            <p>Best ribs ever; period. If you can wait a line and get a spot you will not be disappointed. Also on the back side of the restaurant it has famous graffiti - Putin kissing Trump. I think even new york times wrote an article about it. Don’t miss it
            <h5>Address:Pylimo g. 66, </h5>
          </div>
</div>

          <br><br>
<div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Stebuklai</h2>
            <p>For all the food junkies who likes tongue and belly fetish will enjoy Stebuklai. It was selected as the Nr.1 restaurant in Lithuania.</p>
            <h5>Address: Gynėjų g. 14 </h5>
          </div>
<br>
          <div class=" col-md-3">
            <img src="<%= image_path 'stebuklai.jpg' %>" alt="" class="small-img-card">
          </div>
</div>

          <br>
<div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Dublis</h2>
            <p>Another great place for foodies who like to try something different in their mouths. Dublis was selected as the second best restaurant in Lithuania.</p>
            <h5>Address: Trakų g. 14 </h5>
          </div>
<br>
          <div class=" col-md-3">
            <img src="<%= image_path 'dublis.jpg' %>" alt="" class="small-img-card">
          </div>
</div>
          <br>

        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Popierinis Baras</h2>
            <p>Delicious food for a good price in a cozy restaurant with huge white dog to take your order. What else can you ask? </p>
            <h5>Address: Bokšto g. 3 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'popierinis-baras' %>" alt="" class="small-img-card">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Bizarre Restaurant & Bar</h2>
            <p>Amazing inrerior with top quality food. You can also order some fine cocktails from their bar. Well rounded place for your night.</p>
            <h5>Address: Pylimo g. 38 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'Bizarre' %>" alt="" class="small-img-card">
          </div>
        </div>






        <br><br><br><br>
<div class="text-center">
         <%= link_to "What to see in Vilnius >>", what_to_see_in_vilnius_path , class:"btn btn-default bottom-button", style: ""%>
        <br><br><br><br>
</div>
  </div>
</div>


