<title>Night life in Vilnius - Vilnius Guide by a Local</title>
<meta content="Vilnius night life - Reviews of the most popular night clubs and bars in Vilnius. Read local tips for your party time." name="description">

<meta property="og:title" content="Night life in Vilnius - Vilnius Guide by a Local"/>
<meta property="og:url" content="http://localvilnius.guide/where-to-party-in-vilnius"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Vilnius night life - Reviews of the most popular night clubs and bars in Vilnius. Read local tips for your party time."/>
<meta property="og:image" content="http://localvilnius.guide/assets/vilnius-clubs-13eb994054c23d8ecf732eb40ab4bd34426bebc1a40660bcd7c7fcacc0a470ce.jpg"/>

     <div class="banner" style="background:url(<%= image_path 'vilnius-clubs' %>);">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br>
            <h1 class="text-center padding-top-18">Clubs & bars in Vilnius</h1>
          <br><br>


        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Opium</h2>
            <p>Iconic house/techno club in Vilnius. Definitely a place to go if your legs in a mood for some shuffling. Some nights there is an entry fee</p>
            <h5>Address: Islandijos street 4 </h5>
          </div>
<br>
          <div class=" col-md-3">
            <img src="<%= image_path 'opium' %>" alt="" class="small-img-card">
          </div>
</div>
          <br>

        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Matérialiste</h2>
            <p>Tastefully designed posh club with a dress code. Dress to impress in order to get in. Playing upbeat pop / EDM / hip hop style music. Entrance is free of charge</p>
            <h5>Address: Vilniaus street 25 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'materialiste' %>" alt="" class="small-img-card">
          </div>
        </div>
<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Anna Mesha. Butas</h2>
            <p>The main competitor to Materialiste, currently one of the best and definitely the most trending club in Vilnius. It’s super hard to get in if you don’t have friends who could open the doors. As often in these situation, stick to the same rule - dress to impress. Entry fee:</p>
            <h5>Address: Vilniaus street 33 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'anna-mesha' %>" alt="" class="small-img-card">
          </div>
        </div>

<br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Bardakas</h2>
            <p>Great bar/club with an attitude of just chill and enjoy. Plays funky old school hip hop and good pop from a crate type of music. It's easy to get in so don't stress about the dress code - casual will do the trick. Entrance is Free</p>
            <h5>Address: Vilniaus street 22 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'bardakas1' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Distilerija</h2>
            <p>Boutique cocktail place for that fine old fashioned that you been craving the whole day. Not too much space for crazy dancing, but then again who cares - you got your old fashioned. Entrance is free </p>
            <h5>Address: Vilniaus street 28 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'distilerija' %>" alt="" class="small-img-card">
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Sky Bar at Radisson Blu</h2>
            <p>And there are those other times when you want to kick your feet up, grab a cocktail and enjoy a view on the rooftop. Well Vilnius can't offer you a rooftop, but Sky Bar is great alternative to watch a night Vilnius panorama from above. Entrance is free.</p>
            <h5>Address: Konstitucijos avenue 20 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'sky-bar' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Salento</h2>
            <p>Let's be honest here, in some of the clubs and bars you will get an alien look from the locals. If you want to avoid that go to Salento, which is known to be a go-to place for foreigners, exchange students and those who really enjoy 7days a week party, since it's always open. There might be a small entry fee.</p>
            <h5>Address:  Didžioji street 28 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'salento' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Mojito Nights</h2>
            <p>5 am in the morning and you still not feeling like going back to hotel but everything is closed? been there? Mojito Nights comes to the rescue. You can continue your fiesta until you fall flat. There is an entrance fee.</p>
            <h5>Address: Arkliu street 5 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'mojito-naktys' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Pablo Latino</h2>
            <p>A go to place for 30+ year olds. it’s also super nice in the summer time when the inner yard is open.</p>
            <h5>Address: Trakų street 3 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'pablo-latino' %>" alt="" class="small-img-card">
          </div>
        </div>

                <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Brodvejus</h2>
            <p>Feeling like singing tonight? Every Sunday at Brodvejus you can shine with a mic in your hand in their karaoke nights. Entrance is free </p>
            <h5>Address: Vokiečių street 4 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'brodvejus' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Peronas</h2>
            <p>Trash trendy bar located very appropriately in the central train station area. On the way you might also find the underbelly of Vilnius - hookers on the hunt standing by the side roads. I guess that's an experience on it's own. Entrance is free</p>
            <h5>Address: Geležinkelio street 6 </h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'peronas' %>" alt="" class="small-img-card">
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h2>Kablys</h2>
            <p>If you are sort of a chap that thinks Berlin clubs are the coolest thing that has ever been created on this planet then you might enjoy this rather odd place called in English "hook". It has literally a giant hook by the entrance.</p>
            <h5>Address: Kauno street 5</h5>
          </div>
          <br>
          <div class=" col-md-3">
            <img src="<%= image_path 'kablys' %>" alt="" class="small-img-card">
          </div>
        </div>

        <br><br><br><br><br>
            <div class="text-center">
            <img src="<%= image_path 'symb.png' %>" alt="" class="symb"><br><br><br>
                <h1 class="text-center padding-top-18">What to drink</h1>
            </div>


        <br><br>
<div class="row">
<div class="col-md-offset-1 col-md-10">
<div class="text-center">
<p>It's a preparty time and you want to have some drinks before you hit Vilnius night streets? I got you covered! There are some specific drinks that you need to try before the party, during the party and for the next hangoverish morning. Click below to see the list.</p><br><br>
      <a class="btn btn-default bottom-button" href="/where-to-eat-in-vilnius#drink">See Lithuanian drinks </a>

        <br><br><br><br>
</div>
</div>
</div>
  </div>
</div>


